@import url("/lib/bootstrap.min.css");
@import url("/index.css");

.selected {
    background-color: var(--uah-cool-gray) !important;
}

.input-append .btn-dropdown-menu {
    float:none;
}

.menu {
    width: 80%;
}

.btn {
    width: 10%;
}
